<form [formGroup]="myForm" (ngSubmit)="suaLoaiSanPham($event)">
    <h1 mat-dialog-title>Sửa loại sản phẩm - {{model?.maLoai}}</h1>
    <div mat-dialog-content>

  
      <mat-form-field>
        <mat-label>Tên loại sản phẩm</mat-label>
        <input matInput formControlName="tenLoai" />

      </mat-form-field>

      <mat-form-field>
        <mat-label>Mô tả</mat-label>
        <input matInput formControlName="moTa" />

      </mat-form-field>

    </div>
    <div mat-dialog-actions align="end">
      <button (click)="ClosePopup()" mat-dialog-close mat-raised-button color="warn">Đóng</button>
      <button mat-raised-button color="primary" [disabled]="myForm.invalid">Lưu</button>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
    </div>
  </form>