<form [formGroup]="myForm" >
    <h1 mat-dialog-title>Sửa loại sản phẩm - {{model?.maLoai}}</h1> <hr>
    <div mat-dialog-content class="mb-6">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên loại sản phẩm</label>
      <input type="text" formControlName="tenLoai"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập tên loại sản phẩm..." required />
  </div>
  <div  mat-dialog-content class="form-group">
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ảnh loại sản phẩm</label>
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      Chọn ảnh
    </button>
    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">
  </div>
  <div *ngIf="imagePreview" class="form-group">
    <!-- <label>Xem trước ảnh:</label> -->
    <img mat-dialog-content [src]="imagePreview" alt="Image Preview" style="max-width: 200px; max-height: 200px; margin-top: 10px;">
  </div>
    <div mat-dialog-actions align="end">
      <button (click)="ClosePopup()" mat-dialog-close mat-raised-button color="warn">Đóng</button>
      <button mat-raised-button color="primary" (click)="suaLoaiSanPham($event)"  [disabled]="myForm.invalid">Lưu</button>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
    </div>
  </form>