<div class="p-4 relative">
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    placeholder="Search for products..." 
    class="p-2 border rounded w-full"
  />

  <div *ngIf="searchTerm" class="absolute left-0 w-full bg-white border mt-1 rounded shadow-lg">
    <div *ngFor="let product of filteredProducts" class="p-2 hover:bg-gray-100 cursor-pointer flex items-center">
      <img [src]="product.imageUrl" alt="{{ product.name }}" class="w-10 h-10 object-cover mr-2">
      <span>{{ product.name }}</span>
    </div>
  </div>
</div>
