<!-- <footer class="bg-[#810007] text-white py-6">
    <div class="max-w-screen-xl mx-auto text-center">
      <p class="mb-4">&copy; 2024 Bánh Trung Thu Ngon. All rights reserved.</p>
      <div class="flex justify-center space-x-4">
        <a href="#" class="hover:text-yellow-500">Facebook</a>
        <a href="#" class="hover:text-yellow-500">Instagram</a>
        <a href="#" class="hover:text-yellow-500">Twitter</a>
      </div>
    </div>
  </footer> -->
  
  <footer class="bg-red-800 text-white py-8">
    <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
      <div>
        <h4 class="font-bold mb-4">LIÊN HỆ CHÚNG TÔI</h4>
        <p>BÁNH TRUNG THU NGON</p>
        <p>Hotline: <a href="tel:0123123123" class="text-yellow-400">0123123123</a></p>
        <p>Email: <a href="mailto:thuongmaiviet24h@gmail.com" class="text-yellow-400">banhtrungthungon{{emails}}gmail.com</a></p>
        <p>Địa chỉ: Buôn Ma Thuột, ĐakLak</p>
        <p>Thời gian phục vụ: 24/7</p>
      </div>
      <div>
        <h4 class="font-bold mb-4">THÔNG TIN</h4>
        <ul>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Trang chủ</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Giới Thiệu</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Bánh Trung Thu</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Tin Tức</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Bảng Giá</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Hướng Dẫn Đặt Hàng</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold mb-4">HỖ TRỢ DỊCH VỤ</h4>
        <ul>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Hướng Dẫn Đặt Hàng</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Bảng Báo Giá</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Bảng Chiết Khấu</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Chính Sách Kiểm Hàng</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Chính Sách Bán Hàng</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Chính Sách Vận Chuyển</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold mb-4">CAM KẾT</h4>
        <ul>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Sản Phẩm Chính Hãng</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Giao Hàng Miễn Phí (Nội Thành)</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Xuất Đầy Đủ VAT, Hợp Đồng</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Đổi Trả Hàng Miễn Phí</a></li>
          <li><a href="#" class="text-white"><i class="text-xs fa-solid fa-angle-right"></i> Site Map</a></li>
        </ul>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto mt-8 flex justify-between items-center">
      <div class="text-sm">
        <p>&copy; 2024 Bánh Trung Thu Ngon. All rights reserved.</p>
      </div>
      <div class="flex space-x-4">
        <a href="#" class="text-blue-400">Facebook</a>
        <a href="#" class="text-orange-500">Shopee</a>
        <a href="#" class="text-blue-300">Zalo</a>
        <a href="#" class="text-blue-600">Messenger</a>
      </div>
    </div>
  </footer>
  