.active {
  background-color: #f3f4f6; /* Màu nền khi mục được chọn */
  color: #1f2937; /* Màu chữ khi mục được chọn */
}

.active .text-gray-500 {
  color: #1f2937; /* Màu của biểu tượng khi mục được chọn */
}